<!DOCTYPE html>
<html>
	<head>
		<title>Joodacity Blog</title>
		<style>
			body{font-family: verdana; font-size:11px;}
			.post{display: block; width: 600px; border: 1px solid #ccc; margin-top: 5px;}
			.post-title{background-color: #666; color: #eee; padding: 5px;}
			.post-text{padding: 5px;}
			.a-new-post{margin-bottom:5px;}
		</style>
	</head>
	<body>
		<div class="content">
			<h1>Joodacity</h1>

			<p>
				Hi there. My name is Juliana and this is my Udacity page for CS253. 
			</p>

			<ul>
				<li><a href="/blog" class="a-new-post">Blog</a></li>
				<!--<li><a href="https://github.com/Nurdagniriel/joodacity">This blog code at Github</a></li>-->


		</div>
	</body>
</html>